<div class="navbar navbar-expand justify-content-center header-height d-rtl"
     *ngIf="router.url !== '/' && MobileScreen()">
  <!--navBar-expand class make content in navBar horizontal-->


  <ul class="navbar-nav" style="padding: 0">
    <div>

      <!--Logo-->
      <a routerLinkActive="active" routerLink="/" class="navbar-brand" style="margin-left: 30px">
        <img src="/assets/imgs/logo.png" height="58" width="96">
      </a>
      <!--Logo-->

      <div class="txt-adjustment" style="width: 70px" *ngIf="router.url === '/menu';else menu"
           [ngStyle]="{'border-bottom': '2px solid #c9380b','padding-bottom': '5px'}">
        <a class="header-title" [ngStyle]="{'color': '#c9380b'}"
           routerLinkActive="active" routerLink="/menu">منو</a>
      </div>
      <ng-template #menu>
        <div class="txt-adjustment" style="width: 70px">
          <a class="header-title" routerLinkActive="active" routerLink="/menu">منو</a>
        </div>
      </ng-template>


      <div class="txt-adjustment" style="width: 70px" *ngIf="router.url === '/news';else news"
           [ngStyle]="{'border-bottom': '2px solid #c9380b','padding-bottom': '5px'}">
        <a class="header-title" [ngStyle]="{'color': '#c9380b'}"
           routerLinkActive="active" routerLink="/news">اخبار</a>
      </div>
      <ng-template #news>
        <div class="txt-adjustment" style="width: 70px">
          <a class="header-title" routerLinkActive="active" routerLink="/news">اخبار</a>
        </div>
      </ng-template>


      <div class="txt-adjustment" style="width: 110px" *ngIf="router.url === '/about-us';else aboutUs"
           [ngStyle]="{'border-bottom': '2px solid #c9380b','padding-bottom': '5px'}">
        <a class="header-title" [ngStyle]="{'color': '#c9380b'}"
           routerLinkActive="active" routerLink="/about-us">درباره ما</a>
      </div>
      <ng-template #aboutUs>
        <div class="txt-adjustment" style="width: 110px">
          <a class="header-title" routerLinkActive="active" routerLink="/about-us">درباره ما</a>
        </div>
      </ng-template>


      <div class="txt-adjustment" style="width: 110px" *ngIf="router.url === '/contact-us';else contactUs"
           [ngStyle]="{'border-bottom': '2px solid #c9380b','padding-bottom': '5px'}">
        <a class="header-title" [ngStyle]="{'color': '#c9380b'}"
           routerLinkActive="active" routerLink="/contact-us">تماس با ما</a>
      </div>
      <ng-template #contactUs>
        <div class="txt-adjustment" style="width: 110px">
          <a class="header-title" routerLinkActive="active" routerLink="/contact-us">تماس با ما</a>
        </div>
      </ng-template>

    </div>
  </ul>


</div>

<div class="navbar navbar-expand justify-content-center header-height d-rtl"
     *ngIf="router.url !== '/' && !MobileScreen()"
     style="padding-top: 0;padding-bottom: 0;">

  <div class="m-auto" style="width: 100%;text-align: center">

    <mat-icon svgIcon="menu" style="color: #6a0100;right: 16px;top: 20px;position: absolute;cursor: pointer"
              (click)="openNav()"></mat-icon>
    <!--Logo-->
    <a routerLinkActive="active" routerLink="/" class="navbar-brand" style="margin:0;position: relative">
      <img src="/assets/imgs/logo.png" height="42" width="70">
    </a>
    <!--Logo-->
    <mat-icon svgIcon="foodMenu" style="color: #6a0100;left: 16px;top: 20px;position: absolute;cursor: pointer"
              (click)="closeNav()"
    routerLinkActive="active" routerLink="/menu"></mat-icon>
  </div>

  <div id="mySideNav" class="sideNav" style="list-style: none;"
       (clickOutside)="onClickedOutside($event)">

      <!--<p class="closebtn" (click)="closeNav()">&times;</p>-->
      <a class="link" routerLinkActive="active" routerLink="/news">اخبار</a>
      <!--<p class="link" routerLinkActive="active" routerLink="/about-us">درباره&zwnj;ما</p>-->
      <a class="link" routerLinkActive="active" routerLink="/about-us">درباره&nbsp;ما</a>
      <a class="link" routerLinkActive="active" routerLink="/contact-us">تماس&nbsp;با&nbsp;ما</a>


  </div>

</div>


