// Css for Value Proposition background and overall section div
.footer-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 176px;
}
