<!--Footer section-->
<div class="bg-custom-red footer-bg">

  <div class="container" style="text-align: right;direction: rtl">

    <div class="txt" style="">
      <span>لورم ایپسوم متن با تولید سادگی نامفهوم از صنعت چاپ است</span>
      <button routerLinkActive="active" routerLink="/menu" class="btn menu-button">منو</button>

    </div>
    <div class="txt" style="">
      <ul style="list-style: none;">
        <li class="link" routerLinkActive="active" routerLink="/news">اخبار</li>
        <li class="link" routerLinkActive="active" routerLink="/about-us">درباره ما</li>
        <li class="link" routerLinkActive="active" routerLink="/contact-us">تماس با ما</li>
      </ul>

    </div>
    <div class="txt" style="left: 50px;">از ساعت ۱۰ صبح تا ۳ بعد از ظهر و از ساعت ۱۸ تا ۱۱ شب پذیرای شما هستیم</div>
    <div class="txt" style="">آدرس: خیابان ولیعصر ، خیابان بزرگمهر ، نبش خیابان فریمان و بزرگمهر
      <br> شماره تماس ۶۶۴۶۸۰۰۰
    </div>

  </div>

</div>
