<div class="top-banner-news" *ngIf="topBannerURL" [ngStyle]="{'background-image': 'url(' + topBannerURL + ')'}">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!--Make content go down from top of screen-->
  <div style="height: 128.5px"></div>
  <!--Make content go down from top of screen-->


  <div class="container-shape" style="text-align: center;">
    <div class="narrow-shape"></div>
    <div class="shape">
      <div style="font-size: 20px;
    color: #6a0100;
    font-weight: 500;
    margin-top: 10px">تست
      </div>
    </div>
  </div>
</div>
