<div class="top-banner-news" *ngIf="topBannerURL" [ngStyle]="{'background-image': 'url(' + topBannerURL + ')'}">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!--Make content go down from top of screen-->
  <div style="height: 157px"></div>
  <!--Make content go down from top of screen-->


  <div class="container-shape" style="text-align: center;">
    <div class="narrow-shape"></div>
    <div class="shape">
      <div style="font-size: 20px;
    color: #6a0100;
    font-weight: 500;
    margin-top: 10px">اخبار
      </div>
    </div>
  </div>
</div>


<!--News Card-->
<div class="card-bg d-rtl">
  <div class="card-section" *ngIf="newsCardNum!==1; else oneNew">

    <!--Set card layout-->
    <div class="card-position-set" *ngFor='let news of newsArray'>

      <!-- Card -->
      <div class="card" style="max-height: 365px;height: 365px">

        <!-- Card image -->
        <div class=" card-img" [ngStyle]="{'background-image': 'url(' + news.imagePath + ')'}"></div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title card-title-property"><a>{{ news.title }}</a></h4>
          <!-- Text -->
          <!--<markdown [{{ news.summary }}]="markdown | language : 'typescript'"></markdown>-->
          <!--<div class="card-text" [news.summary]="markdown | language : 'typescript'"></div>-->
          <!--<p class="card-text">{{ news.summary }}</p>-->
          <!--<markdown [data]="markdown | language : 'typescript'"></markdown>-->
          <!--{{ news.summary }}-->
          <!-- Button -->
          <button class="btn more-btn">بیشتر</button>

        </div>
      </div>
      <!-- Card -->

    </div>
  </div>


  <ng-template class="card-section" #oneNew>
    <div class="card-position-set">

      <!-- Card -->
      <div class="card" style="max-height: 365px;height: 365px">

        <!-- Card image -->
        <img class="card-img-top" src="{{ newsArray[0].imagePath }}" alt="Card image cap">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title card-title-property"><a>{{ newsArray[0].title }}</a></h4>

          <!-- Button -->
          <button class="btn more-btn">بیشتر</button>

        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
  </ng-template>
</div>
