// Css for top image and this div context
.top-banner-news {
  /* height and width */
  width: 100%;
  height: 314px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
}

// Css for overlay top banner
.top-banner-overlay {
  background: #6a0100;
  opacity: 0.59;
  height: 314px;
  width: 100%;
  position: absolute;
}

.narrow-shape {
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
}

.shape {
  width: 242px;
  height: 57px;
  border: 1px solid white;
  border-radius: 25px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white;
}

// Css for container of
.container-shape {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// Css for Value Proposition background and overall section div
.card-bg {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 70px;
}

// Css for setting container of value proposition context | this part must change related to media query
.card-container {
  //width: 1260px;
  display: flex;
  justify-content: right;
  position: relative;
  //margin-right: auto;
  //margin-left: auto;
}

// Css for setting div of value proposition context | this part must change related to media query
.card-section {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding-right: 6%;
  padding-left: 6%;
  width: 100%;
  padding-top: 70px;
  //width: 950px;
}

.card-position-set {
  flex: 0 1 24%;
  width: 340px;
  //margin-left: 40px;
  //margin-right: 40px;
  //margin-left: 3%;
  //margin-right: 3%;
  display: inline-flex;
  margin-bottom: 60px;
  text-align: right;
}

.card {
  max-height: 365px;
  height: 365px;
  border-radius: 10px;
}

.card-img {
  height: 203px;
  width: 340px;
  min-height: 203px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card-title-property {
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 27px;
}

.more-btn {
  height: 30px;
  width: 90px;
  background-color: #F4881c;
  border-radius: 30px;
  box-shadow: 0 3px 9px 0 #a1a1a1;
  font-size: 14px;
  font-weight: 500;
  color: black;
  position: relative;
  text-align: center;
  line-height: 0;
  display: inline-flex;
  left: 10px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card-section {
    padding-right: 5%;
    padding-left: 5%;
  }

  .card-position-set {
    //width: 288px;
    flex: 0 1 31%;
  }

  .card-img {
    width: 100%
  }
}

@media screen and (max-width: 992px) {
  .card-section {
    padding-right: 10%;
    padding-left: 10%;
  }

  .card-position-set {
    flex: 0 1 48%;
  }

  .card-img {
    width: 100%
  }
}

@media screen and (max-width: 768px) {
  .card-section {
    padding-right: 5%;
    padding-left: 5%;
  }

  .card-position-set {
    flex: 0 1 47%;
  }

  .card-img {
    width: 100%
  }
}

@media screen and (max-width: 576px) {
  .card-section {
    justify-content: center;
  }

  .card-position-set {
    min-width: 300px;
  }

  .card-img {
    width: 100%
  }
}
