<div class="top-banner-news" style="background-image: url('/assets/imgs/news-top-banner.jpg')">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!--Make content go down from top of screen-->
  <div style="height: 157px"></div>
  <!--Make content go down from top of screen-->


  <div class="container-shape" style="text-align: center;">
    <div class="narrow-shape"></div>
    <div class="shape">
      <div style="font-size: 20px;
    color: #6a0100;
    font-weight: 500;
    margin-top: 10px">اخبار
      </div>
    </div>
  </div>
</div>



<!--News Card-->
<div class="card-bg d-rtl">
  <div class="card-container">
    <div class="card-section">
      <!--Grid row-->
      <div style="height: 365px;width: 340px">

        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

          </div>

        </div>
        <!-- Card -->


      </div>





      <!--<div class="row d-rtl">-->
        <!--&lt;!&ndash;Grid column&ndash;&gt;-->
        <!--<div class="vp-txt-pd" *ngFor='let valueP of vp'>-->
          <!--<img class="" src="{{ valueP.imagePath }}" height="152" width="152">-->
          <!--<h1 class="vp-title">{{ valueP.title }}</h1>-->
        <!--</div>-->
        <!--&lt;!&ndash;Grid column&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;Grid row&ndash;&gt;-->
    </div>
  </div>
</div>
<!--Value Proposition-->
