// Css for top image and this div context
.top-banner-menu {
  /* height and width */
  width: 100%;
  height: 314px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
}

// Css for overlay top banner
.top-banner-overlay {
  background: #6a0100;
  opacity: 0.59;
  height: 314px;
  width: 100%;
  position: absolute;
}

.narrow-shape {
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
}

.shape {
  width: 242px;
  height: 57px;
  border: 1px solid white;
  border-radius: 25px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white;
}

// Css for container of
.container-shape {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-card {
  height: 153px;
  width: 121px;
  border: 2px solid #6a0100;
  border-radius: 10px;
  background: none;
  outline: none;
  margin-left: 25px;
  margin-right: 25px;
}

.active-category-card {
  border: 2px solid #F4881c;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}

.main-category-icon {
  height: 83px;
  width: 80px;
  position: relative;
  bottom: 10px;
  color: #6a0100;
}

.active-category-icon {
  color: #F4881c;
}

.main-category-txt {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #6a0100;
}

.active-category-txt {
  color: #F4881c;
}

.circle {
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: 2px solid #f3881b;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  outline: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
}

.halfCircleBottom {
  height: 162px;
  width: 162px;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  right: -2px;
  flex-wrap: wrap;
  outline: none;
  background: linear-gradient(to top, #f3881b 0%, #f3881b 40%, rgba(0, 0, 0, 0) 40%);
  z-index: 1;
}

.narrow {
  width: 100%;
  height: 84px;
  background-color: #f3881b;
  opacity: 0.3;
}

.container {
  display: flex;
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
  //min-height: 600px;
  justify-content: center;
}

.menu-modify-width {
  width: 980px;
  min-width: 980px;
  //margin-left: 500px;
}

.title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

/* Create two equal columns that floats next to each other */
.column {
  float: right;
  width: 30%;
  padding: 10px;
  position: relative;
  //height: 1000px; /* Should be removed. Only for demonstration */
}

.MiddleColumn {
  float: right;
  width: 15%;
  padding: 10px;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Category part responsive
@media screen and (max-width: 1200px) {

  .circle {
    height: 140px;
    width: 140px;
  }
  .halfCircleBottom {
    height: 140px;
    width: 140px;
  }
  .main-category-txt {
    top: 90px;
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {

  .MiddleColumn {
    width: 5%;
  }
}

@media screen and (max-width: 768px) {

  .column {
    width: 20%;
  }
  .MiddleColumn {
    width: 5%;
  }
}

@media screen and (max-width: 576px) {

  .menu-modify-width {
    width: 90%;
    min-width: 0;
  }

  .column {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .MiddleColumn {
    width: 0;
  }
}
