<div class="top-banner-menu" *ngIf="topBannerURL" [ngStyle]="{'background-image': 'url(' + topBannerURL + ')'}">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!--Make content go down from top of screen-->
  <div style="height: 128.5px"></div>
  <!--Make content go down from top of screen-->


  <div class="container-shape" style="text-align: center;">
    <div class="narrow-shape"></div>
    <div class="shape">
      <div style="font-size: 20px;
    color: #6a0100;
    font-weight: 500;
    margin-top: 10px">منو
      </div>
    </div>
  </div>
</div>

<div class="menu-container" style="direction: rtl" id="myElement">

  <button class="category-card" [class.active]="viewMode == 'MainFood'" rel="MainFood" (click)="viewMode ='MainFood'"
          (click)="onActiveCategory('mainFood')"
          (click)="triggerScrollTo()"
          [ngClass]="{'active-category-card' : activeCategory == 'mainFood'}">
    <mat-icon svgIcon="mainFood" class="main-category-icon"
              [ngClass]="{'active-category-icon' : activeCategory == 'mainFood'}"></mat-icon>
    <div class="main-category-txt"
         [ngClass]="{'active-category-txt' : activeCategory == 'mainFood'}">غذای اصلی
    </div>
  </button>

  <button class="category-card" [class.active]="viewMode == 'Starters'" rel="Starters" (click)="viewMode ='Starters'"
          (click)="onActiveCategory('starter')"
          (click)="triggerScrollTo()"
          [ngClass]="{'active-category-card' : activeCategory == 'starter'}">
    <mat-icon svgIcon="starter" class="main-category-icon"
              [ngClass]="{'active-category-icon' : activeCategory == 'starter'}"></mat-icon>
    <p class="main-category-txt"
       [ngClass]="{'active-category-txt' : activeCategory == 'starter'}">پیش غذا</p>
  </button>

  <button class="category-card" [class.active]="viewMode == 'Drinks'" rel="Salads" (click)="viewMode ='Drinks'"
          (click)="onActiveCategory('drink')"
          (click)="triggerScrollTo()"
          [ngClass]="{'active-category-card' : activeCategory == 'drink'}">
    <mat-icon svgIcon="drink" class="main-category-icon"
              [ngClass]="{'active-category-icon' : activeCategory == 'drink'}"></mat-icon>
    <p class="main-category-txt"
       [ngClass]="{'active-category-txt' : activeCategory == 'drink'}">نوشیدنی</p>
  </button>

  <button class="category-card" [class.active]="viewMode == 'Salads'" rel="Drinks" (click)="viewMode ='Salads'"
          (click)="onActiveCategory('salad')"
          (click)="triggerScrollTo()"
          [ngClass]="{'active-category-card' : activeCategory == 'salad'}">
    <mat-icon svgIcon="salad" class="main-category-icon"
              [ngClass]="{'active-category-icon' : activeCategory == 'salad'}"></mat-icon>
    <p class="main-category-txt"
       [ngClass]="{'active-category-txt' : activeCategory == 'salad'}">سالاد</p>
  </button>

  <button class="category-card" [class.active]="viewMode == 'Desserts'" rel="Desserts" (click)="viewMode ='Desserts'"
          (click)="onActiveCategory('dessert')"
          (click)="triggerScrollTo()"
          [ngClass]="{'active-category-card' : activeCategory == 'dessert'}">
    <mat-icon svgIcon="dessert" class="main-category-icon"
              [ngClass]="{'active-category-icon' : activeCategory == 'dessert'}"></mat-icon>
    <p class="main-category-txt"
       [ngClass]="{'active-category-txt' : activeCategory == 'dessert'}">دسر</p>
  </button>

</div>


<div class="container" style="margin-top: 50px" id="MenuSection">


  <div [ngSwitch]="viewMode" class="menu-modify-width" style="text-align: right;direction: rtl">

    <div *ngSwitchCase="'MainFood'">

      <div class="row" style="justify-content: center;">

        <div class="column" style="margin-right: 15px">
          <div *ngFor="let items of mainFoodArray; let i=index">
            <div *ngIf="i <= mainFoodNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="MiddleColumn"></div>

        <div class="column" style="margin-right: 30px;">
          <div *ngFor="let items of mainFoodArray; let i=index">
            <div *ngIf="i > mainFoodNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <div *ngSwitchCase="'Starters'">

      <div class="row" style="justify-content: center;">
        <div class="column">
          <div *ngFor="let items of starterArray; let i=index">
            <div *ngIf="i <= starterNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="MiddleColumn"></div>

        <div class="column" style="padding-right: 1%;">
          <div *ngFor="let items of starterArray; let i=index">
            <div *ngIf="i > starterNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <div *ngSwitchCase="'Drinks'">

      <div class="row" style="justify-content: center;">

        <div class="column">
          <div *ngFor="let items of drinkArray; let i=index">
            <div *ngIf="i <= drinkNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="MiddleColumn"></div>

        <div class="column" style="padding-right: 1%;">
          <div *ngFor="let items of drinkArray; let i=index">
            <div *ngIf="i > drinkNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <div *ngSwitchCase="'Salads'">

      <div class="row" style="justify-content: center;">

        <div class="column">
          <div *ngFor="let items of saladArray; let i=index">
            <div *ngIf="i <= saladNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="MiddleColumn"></div>

        <div class="column" style="padding-right: 1%;">
          <div *ngFor="let items of saladArray; let i=index">
            <div *ngIf="i > saladNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <div *ngSwitchCase="'Desserts'">

      <div class="row" style="justify-content: center;">

        <div class="column">
          <div *ngFor="let items of dessertArray; let i=index">
            <div *ngIf="i <= dessertNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="MiddleColumn"></div>

        <div class="column" style="padding-right: 1%;">
          <div *ngFor="let items of dessertArray; let i=index">
            <div *ngIf="i > dessertNum/2">
              <div>
                <div class="title">{{items.title}}</div>
                <div class="description">{{items.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="container" style="margin-top: 50px">


  <div [ngSwitch]="viewMode" class="foodPics-modify-width" style="text-align: center;direction: rtl">

    <div *ngSwitchCase="'MainFood'">

      <div class="food-pics-row-adjustment" *ngFor='let foodPics of foodPicsArray;let i=index'>
        <div class="food-pics" *ngIf="i<6" [ngStyle]="{'background-image': 'url(' + foodPics + ')'}"></div>
      </div>

    </div>
    <div *ngSwitchCase="'Starters'">

      <div class="food-pics-row-adjustment" *ngFor='let foodPics of foodPicsArray;let i=index'>
        <div class="food-pics" *ngIf="i<12 && i>5" [ngStyle]="{'background-image': 'url(' + foodPics + ')'}"></div>
      </div>

    </div>
    <div *ngSwitchCase="'Drinks'">

      <div class="food-pics-row-adjustment" *ngFor='let foodPics of foodPicsArray;let i=index'>
        <div class="food-pics" *ngIf="i<18 && i>11" [ngStyle]="{'background-image': 'url(' + foodPics + ')'}"></div>
      </div>

    </div>
    <div *ngSwitchCase="'Salads'">

      <div class="food-pics-row-adjustment" *ngFor='let foodPics of foodPicsArray;let i=index'>
        <div class="food-pics" *ngIf="i<24 && i>17" [ngStyle]="{'background-image': 'url(' + foodPics + ')'}"></div>
      </div>

    </div>
    <div *ngSwitchCase="'Desserts'">

      <div class="food-pics-row-adjustment" *ngFor='let foodPics of foodPicsArray;let i=index'>
        <div class="food-pics" *ngIf="i<30 && i>23" [ngStyle]="{'background-image': 'url(' + foodPics + ')'}"></div>
      </div>

    </div>

  </div>

</div>
